@import "flex-grid.css";

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.align{
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-12 {
  display: flex;
justify-content: center;
align-items: end;
}

 header {
  background-color: brown;
  padding: 20px 0;
}

.justify-content {
  display: flex;
  justify-content: center;
}

p {
  padding: 5px;
  margin: 5px;
}

 div > a {
  text-decoration: none;
  color: #FFDEAD;
  background-color: brown;
  text-align: center;
  padding-right: 10px;

}

div > h2 {
  color: brown;
  text-align: left;
  margin: 5px;
}
aside {
  background-color: #FFDEAD;
}

footer {
  background-color: brown;
  color: #FFDEAD;
  height: 50px;
  margin: 0;
}

#asd {
margin-top: 0;  
}

section > div {
  background-color: #FFF8DC;
  border: 5px solid white;
  padding: 5px;
  }

h3 {
  color: brown;
}

p {
  color: brown;
}
